@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Josefin+Slab|Josefin+Sans');
/*font-family: 'Abril Fatface', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Josefin Sans', sans-serif;*/
body{
background-color: black
}
svg{
  display: block;
}

.title{
  font-family: 'Abril Fatface', cursive;
  font-size: 45px;
}

#window{
  border:none;
}

.explain{
  font-family: 'Acme', sans-serif;
  font-size: 13px;
}

#info,#infowindow{
  border:none;
  position: absolute;
  top: 10px;
  left: 860px;
}

.infoTitle{
  font-family: 'Acme', sans-serif;
  font-size: 25px;
}

.detail{
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}

#scatterSvg{
  position: relative;
  top:20px;
}

.boardYear{
  font-family: 'Josefin Slab', sans-serif;
  font-size: 20px;
  fill: white;
  text-decoration: underline;
}

.yaxisText{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
}
