@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Josefin+Slab');
/*font-family: 'Abril Fatface', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Josefin Slab', serif;*/

svg{
  display: block;
}

.title{
  font-family: 'Abril Fatface', cursive;
  font-size: 45px;
}

#window{
  border:solid;
}

.explain{
  font-family: 'Acme', sans-serif;
  font-size: 13px;
}

#info,#infowindow{
  border:solid;
  position: absolute;
  top: 10px;
  left: 860px;
}

.infoTitle{
  font-family: 'Acme', sans-serif;
  font-size: 17px;
}

.detail{
  font-family: 'Josefin Slab', serif;
  font-size: 15px;
}
